body{
    background-color: rgb(3, 3, 19);
    color: antiquewhite;
}
header{
    background-color: rgb(48, 48, 48);
    color: antiquewhite;
    a{
        color: antiquewhite;
    }
}
footer{
    background-color: rgb(48, 48, 48);
    color: antiquewhite;
}



#start{
    color: antiquewhite;
    a {
            color: antiquewhite;
    }
}