body {
    background-color: rgb(5, 5, 30);
    color: antiquewhite;
}

header {
    background-color: var(--main-box-background-color);
    color: antiquewhite;

    a {
        color: antiquewhite;
    }
}

footer {
    background-color: var(--main-box-background-color);
    color: antiquewhite;
}



#start {
    color: antiquewhite;

    a {
        color: antiquewhite;
    }
}

:root {

    --main-box-background-color: rgb(22, 19, 38);

    --main-border-color: rgb(63, 63, 63);
}