body{
    background-color: rgb(3, 3, 19);
    color: antiquewhite;
}
header{
    background-color: rgb(22, 19, 38);
    color: antiquewhite;
    a{
        color: antiquewhite;
    }
}
footer{
    background-color: rgb(22, 19, 38);
    color: antiquewhite;
}



#start{
    color: antiquewhite;
    a {
            color: antiquewhite;
    }
}