/* Sticky footer logic */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

.hidden {
    display: none;
}

footer {

    padding: 1rem 2rem 1rem 2rem;

    p {
        display: inline;
    }

    a {
        float: right;
        text-decoration: none;
        color: antiquewhite;
    }
}

@media(max-width: 575px) {
    footer {
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1;
        }

        .hidden {
            display: none;
        }

        footer {

            padding: 1rem 2rem 1rem 2rem;

            p {
                display: inline;
            }


        }
    }

    #footer-link {
        display: none;
    }
}