.techstack li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    list-style: none;
    text-decoration: none;
}

.mp-myprojects-box li {
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    padding-right: 1.2rem;
}

.mp-schoolprojects-box li {
    list-style: none;
    text-decoration: none;
    font-size: 16px;
}

/*

Effects on small badges.

.stack-category li img {
    transition: transform 0.2s ease-in-out;
}

.stack-category li:hover img {
    transform: scale(1.2);
}
*/

svg:hover {
    transform: scale(1.1);
    fill: antiquewhite;
}


[data-icon] {
    text-decoration: none;
    color: antiquewhite;
    display: flex;
    align-items: center;
}

[data-icon]:hover {
    color: #3178C6;
}

[data-icon] svg {

    width: 20px;
    height: 20px;
}