main{

    width: min(900px, 100%);
    margin: 0 auto;
    

    h1{
        text-align: center;
    }

    #start.active {
        
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        

        .logo{
            margin-top: 2rem;
            font-size: 50px;
        }
        .openingtext{
            margin: 20px 0;
        }
        a{
            display: flex;
            flex-direction: column;
            text-decoration: none;
            margin: 2rem 0;
            width: fit-content;
            padding: 0.5rem;
            font-size: 30px;
            font-style: oblique;

            &:last-child{
                margin-bottom: 0;
            }
            &:hover{
                color: rgb(55, 207, 227);
            }
            
            a[id$="-effect"] {
                display: flex;
                flex-direction: column;
                text-decoration: none;
                margin: 2rem 0;
                width: fit-content;
                padding: 0.5rem;
                border: 2px solid transparent;
            }

        }
    }

    .selfieimage{
            display: block;
            margin: auto;
            max-width: 300px;
            height: auto;
            border: 1px solid black;
            border-radius: 7px;
    }

    .aboutme{
        margin: 5rem auto;
    }

    .techstack{
        margin: 0 auto;
    }

        /*
        #start.active a[id$="-effect"] {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            margin: 2rem 0;
            width: fit-content;
            padding: 0.5rem;
            border: 2px solid transparent;

        }*/
}