main {

    width: min(900px, 100%);
    margin: 0 auto;



    h1 {
        text-align: center;
    }

    #start.active {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .logo {
            margin-top: 3rem;
            font-size: 50px;
            margin-bottom: 3rem;
        }

        .openingtext {

            background-color: var(--main-box-background-color);
            padding: 2rem;
            border: 1px solid var(--main-border-color);
            border-radius: 7px;
            height: 100%;
            box-sizing: border-box;
            box-shadow:
                inset 0 -1em 1em rgba(49, 69, 79, 0.3),
                0 0 0 2px rgb(137, 137, 136),
                0.3em 0.3em 1em rgba(146, 146, 146, 0.6);
            text-align: left;
            margin-bottom: 2rem;

            p {
                margin: 0;

                &:first-child {

                    margin-bottom: 1em;
                }

                &:last-child {
                    margin-top: 1em;

                }
            }



        }

        a {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            margin: 2rem 0;
            width: fit-content;
            padding: 0.5rem;
            font-size: 26px;
            font-style: oblique;
            font-family: Notable;

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                color: rgb(55, 207, 227);
            }

            a[id$="-effect"] {
                display: flex;
                flex-direction: column;
                text-decoration: none;
                margin: 2rem 0;
                width: fit-content;
                padding: 0.5rem;
                border: 2px solid transparent;

            }

            span {
                font-family: Funnel Display;
            }

        }
    }

    #aboutme.active {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 30px;
        align-items: start;
        margin-top: 5rem;
        padding-top: 80px;

        .selfieimage {
            display: block;
            margin: 0;
            width: 100%;
            max-width: 300px;
            height: auto;
            border: 1px solid var(--main-border-color);
            border-radius: 7px;
            background-color: var(--main-box-background-color);
            box-shadow:
                inset 0 -1em 1em rgba(49, 69, 79, 0.3),
                0 0 0 2px rgb(137, 137, 136),
                0.3em 0.3em 1em rgba(146, 146, 146, 0.6);

        }

        .aboutme {
            margin: 0;
            background-color: var(--main-box-background-color);
            padding: 2rem;
            border: 1px solid var(--main-border-color);
            border-radius: 7px;
            height: 100%;
            box-sizing: border-box;
            box-shadow:
                inset 0 -1em 1em rgba(49, 69, 79, 0.3),
                0 0 0 2px rgb(137, 137, 136),
                0.3em 0.3em 1em rgba(146, 146, 146, 0.6);

            h3 {
                font-family: Abril Fatface;
            }
        }

        .techstackstyling {
            grid-column: 1/ span 2;
            margin-top: 2rem;
            margin-bottom: 2rem;
            background-color: var(--main-box-background-color);
            padding: 2rem;
            border: 1px solid var(--main-border-color);
            border-radius: 7px;
            box-sizing: border-box;
            box-shadow:
                inset 0 -1em 1em rgba(49, 69, 79, 0.3),
                0 0 0 2px rgb(137, 137, 136),
                0.3em 0.3em 1em rgba(146, 146, 146, 0.6);
        }

        .techstacktitle {
            display: grid;
            grid-column: 1 / span 2;
        }

        .techstacktitle h2 {
            text-align: center;
            margin-bottom: 2rem;
            font-size: 28px;
        }

        .techstack {
            grid-column: 1 / span 2;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            margin-bottom: 2rem;
        }

        .stack-category {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .stack-category h3 {
            font-size: 1rem;
            margin-bottom: 1rem;
            font-size: 20px;
        }

        .stack-category ul {
            list-style: disc;
            padding-left: 1.2rem;
            margin: 0;

        }
    }

    #my-projects.active {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        align-items: start;
        margin-top: 5rem;
        padding-top: 80px;

        h2 {
            font-size: 28px;
            color: rgb(66, 184, 199);
            font-family: Abril Fatface;
            text-shadow: 1px 1px 2px rgb(0, 0, 0);
        }

        a {
            text-decoration: none;
            color: rgb(180, 180, 138);
            font-family: Abril Fatface;

            &:hover {
                color: rgb(55, 207, 227);
                ;
            }
        }

        .mp-mpp {
            grid-column: 1/ span 2;
            text-align: center;
        }

        .mp-text {
            grid-column: 1/ span 2;
            margin-top: 2rem;
            margin-bottom: 2rem;
            background-color: var(--main-box-background-color);
            padding: 2rem;
            border: 1px solid rgb(63, 63, 63);
            border-radius: 7px;
            box-sizing: border-box;
            text-align: center;
            box-shadow:
                inset 0 -1em 1em rgba(49, 69, 79, 0.3),
                0 0 0 2px rgb(137, 137, 136),
                0.3em 0.3em 1em rgba(146, 146, 146, 0.6);

            h1 {
                color: rgb(180, 180, 138);
            }

            p {
                margin: 0;

                &:last-child {
                    margin-top: 0.7rem;
                }
            }
        }

        .mp-myprojects {
            grid-column: 1 / span 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin-bottom: 3rem;



            .mp-myprojects-box {
                background-color: var(--main-box-background-color);
                padding: 1.5rem;
                border: 1px solid rgb(63, 63, 63);
                border-radius: 7px;
                box-shadow:
                    inset 0 -1em 1em rgba(49, 69, 79, 0.3),
                    0 0 0 2px rgb(137, 137, 136),
                    0.3em 0.3em 0.3em rgba(146, 146, 146, 0.6);
            }

            ul {
                display: inline-flex;
                float: left;
                padding: 0;

            }

        }

        .mp-msp {
            grid-column: 1/ span 2;
            text-align: center;
        }

        .mp-schoolprojects {
            grid-column: 1 / span 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin-bottom: 2rem;


            .mp-schoolprojects-box {
                background-color: var(--main-box-background-color);
                padding: 1.5rem;
                border: 1px solid rgb(63, 63, 63);
                border-radius: 7px;
                box-shadow:
                    inset 0 -1em 1em rgba(49, 69, 79, 0.3),
                    0 0 0 2px rgb(137, 137, 136),
                    0.3em 0.3em 0.3em rgba(146, 146, 146, 0.6);

                ul {
                    display: inline-flex;
                    float: left;
                    padding: 0;
                }
            }
        }
    }

    #contact.active {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        align-items: start;
        margin-top: 5rem;
        padding-top: 80px;

        h1 {
            grid-column: 1 / span 2;
        }


        .contact-links {
            display: flex;
            flex-direction: column;
        }

        #link-box {
            background-color: var(--main-box-background-color);
            padding: 2.5rem;
            border: 1px solid rgb(63, 63, 63);
            border-radius: 7px;
            max-width: 600px;
            margin: 2rem auto;
            box-shadow: 0 0 0 2px rgb(137, 137, 136), 0.3em 0.3em 1em rgba(0, 0, 0, 0.4);
        }

        .contact-container {
            background-color: var(--main-box-background-color);
            padding: 2.5rem;
            border: 1px solid rgb(63, 63, 63);
            border-radius: 7px;
            max-width: 600px;
            margin: 2rem auto;
            box-shadow: 0 0 0 2px rgb(137, 137, 136), 0.3em 0.3em 1em rgba(0, 0, 0, 0.4);
        }

        .contact-form {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }

        .contact-form input,
        .contact-form textarea {
            width: 100%;
            padding: 12px;
            background: rgba(255, 255, 255, 0.05);
            border: 1px solid dimgray;
            border-radius: 4px;
            color: antiquewhite;
            font-family: inherit;
            box-sizing: border-box;
        }

        .contact-form button {
            background: #161326;
            color: rgb(66, 184, 199);
            padding: 15px;
            border: 2px solid dimgray;
            border-radius: 7px;
            cursor: pointer;
            font-weight: bold;
            transition: 0.3s;
        }

        #form-status {
            margin-top: 1rem;
            text-align: center;
            color: #3DDC84;
        }
    }
}