main{

    width: min(900px, 100%);
    margin: 0 auto;
    padding-top: 80px;
    

    h1{
        text-align: center;
    }

    #start.active {
        
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

        .logo{
            margin-top: 2rem;
            font-size: 50px;
            margin-bottom: 10px;
        }
        .openingtext{
            p{
                &:last-child{
                    margin-bottom: 10px;
                }
            }
        }
        a{
            display: flex;
            flex-direction: column;
            text-decoration: none;
            margin: 2rem 0;
            width: fit-content;
            padding: 0.5rem;
            font-size: 26px;
            font-style: oblique;
            font-family: Notable;

            &:last-child{
                margin-bottom: 0;
            }
            &:hover{
                color: rgb(55, 207, 227);
            }
            
            a[id$="-effect"] {
                display: flex;
                flex-direction: column;
                text-decoration: none;
                margin: 2rem 0;
                width: fit-content;
                padding: 0.5rem;
                border: 2px solid transparent;
            }

            span{
                font-family: Funnel Display;
            }

        }
    }

    #aboutme.active{

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 30px;
        align-items: start;
        margin-top: 5rem;

        .selfieimage{
                display: block;
                margin: 0;
                width: 100%;
                max-width: 300px;
                height: auto;
                border: 1px solid rgb(63, 63, 63);
                border-radius: 7px;
                background-color: rgb(22, 19, 38);

        }
    
        .aboutme{
            margin: 0;
            background-color: rgb(22, 19, 38);
            padding: 2rem;
            border: 1px solid rgb(63, 63, 63);
            border-radius: 7px;
            height: 100%;
            box-sizing: border-box;

            h3{
                font-family: Abril Fatface;
            }
        }
        
        .techstackstyling{
        grid-column: 1/ span 2;
        margin-top: 2rem;
        margin-bottom: 2rem;
        background-color: rgb(22, 19, 38);
        padding: 2rem;
        border: 1px solid rgb(63, 63, 63);
        border-radius: 7px;
        box-sizing: border-box;
    }

    .techstacktitle{
        display: grid;
        grid-column: 1 / span 2;
    }
    .techstacktitle h2{
        text-align: center;
        margin-bottom: 2rem;
        font-size: 28px;
    }
    
    .techstack{
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        margin-bottom: 2rem;
    }

    .stack-category{
        display: flex;
        flex-direction: column;
        align-items: flex-start;    
    }
    
    .stack-category h3 {
        font-size: 1rem;
        margin-bottom: 1rem;
        font-size: 20px;
    }
    
    .stack-category ul {
        list-style: disc;
        padding-left: 1.2rem;
        margin: 0;
        
    }
}

    #my-projects.active{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        align-items: start;
        margin-top: 5rem;

        h2{
            font-size: 28px;
            color: rgb(55, 207, 227);
            font-family: Abril Fatface;
        }
        a{
            text-decoration: none;
            color: rgb(179, 167, 152);
            font-family: Abril Fatface;

            &:hover {
                color: rgb(55, 207, 227);;
            }
        }

        .mp-mpp{
            grid-column: 1/ span 2;
            text-align: center;
        }

        .mp-text{
            grid-column: 1/ span 2;
            margin-top: 2rem;
            margin-bottom: 2rem;
            background-color: rgb(22, 19, 38);
            padding: 2rem;
            border: 1px solid rgb(63, 63, 63);
            border-radius: 7px;
            box-sizing: border-box;
            text-align: center;
        }

        .mp-myprojects{
            grid-column: 1 / span 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin-bottom: 3rem;
            
            

            .mp-myprojects-box{
            background-color: rgb(22, 19, 38);
            padding: 1.5rem;
            border: 1px solid rgb(63, 63, 63);
            border-radius: 7px;
            }
            
        }

        .mp-msp{
            grid-column: 1/ span 2;
            text-align: center;
        }

        .mp-schoolprojects{
            grid-column: 1 / span 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin-bottom: 2rem;

            .mp-schoolprojects-box{
            background-color: rgb(22, 19, 38);
            padding: 1.5rem;
            border: 1px solid rgb(63, 63, 63);
            border-radius: 7px;
            }
        }
    }
}