header{
    padding: 1rem;
}

main article {
    display: none;
}

main article.active{
    display: block;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

nav{
    a{
        display: block;
        text-decoration: none;
        padding: 0 20px;
        float: left;

        &:first-child{
            padding-left: 0;
        }

        &:last-child{
            padding-right: 0;
        }

        &:hover{
            color: rgb(182, 226, 232);
        }
    }
}