header{
    position: fixed;
    width: 100%;
    padding: 0rem 0rem 0rem 2rem ;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 1px solid black;

    
}

main article {
    display: none;
}

main article.active{
    display: block;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

#main-header {
    transition: opacity 0.3s ease, transform 0.4s ease;
    /* Här kan du ha din vanliga styling för headern */
}

#main-header.hidden {
    display: none;
    /* Eller om du vill ha en mjuk övergång: */
    /* opacity: 0; pointer-events: none; transform: translateY(-20px); */
}

nav{
    a{
        display: block;
        text-decoration: none;
        padding: 30px 50px 0 0px;
        float: left;

        &:hover{
            color: rgb(153, 217, 226);
        }
    }
}