header{
    padding: 1rem;
}

main article {
    display: none;
}

main article.active{
    display: block;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

#main-header {
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* Här kan du ha din vanliga styling för headern */
}

#main-header.hidden {
    display: none;
    /* Eller om du vill ha en mjuk övergång: */
    /* opacity: 0; pointer-events: none; transform: translateY(-20px); */
}

nav{
    a{
        display: block;
        text-decoration: none;
        padding: 0 20px;
        float: left;

        &:first-child{
            padding-left: 0;
        }

        &:last-child{
            padding-right: 0;
        }

        &:hover{
            color: rgb(153, 217, 226);
        }
    }
}