@keyframes fadeInText{
    0%{
        opacity: 0;
        transform: translateX(-20px);
        transform: translateY(5px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
        transform: translateY(0);
    }
}

.hover-info{
    display: inline-block;
    animation: fadeInText 0.7s ease-out forwards;
}